.container{
    position: relative;
}
.top-right{
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 29px;
    color: aliceblue;
}
.top-left{
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 29px;
    color: aliceblue;
}
.bottom-right{
    position: absolute;
    bottom: 8px;
    right: 10px;
    font-size: 29px;
    color: aliceblue;
}
.bottom-left{
    position: absolute;
    bottom: 8px;
    left: 10px;
    font-size: 29px;
    color: aliceblue;
}
.centered{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    font-size: 29px;
    color: black;
}